<div class="hero-unit">
<h1>TODO List</h1>
<p>made by Luke Carlson. hopefully this will work sometime</p>
<a href="../static_pages/hellp"> HELP </a>
</div>


New Task: <input type-"text" data-bind="value: newTask" valueUpdate: "afterkeydown" />
<button data-bind="click: addTask"> add Task </button>
<div data-bind="foreach: tasks">
	<p> <strong data-bind="text: name"></strong> <button class="btn btn-danger" data-bind="click: $parent.removeTask">Delete</button>  </p> 
</div>

<script src="knockout-2.1.0.js"> </script>
<script type="text/javascript">

var todoViewModel = function(){
    this.newTask = ko.observable("")
    this.tasks = ko.observableArray([
        { name: 'Run' },
        { name: 'Ski' },
        { name: 'Program' }
    ]);
    this.addTask = function () {
        this.tasks.push({name: this.newTask()});
        this.newTask("")
    }
    this.removeTask = function(){
        self.tasks.remove(this);
    }
    // could i do removePerson(person) so that in the html i just pass in the name
};

window.onload = ko.applyBindings(new todoViewModel);; </script>
